@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deepPink: "#210b33";
  --lightPink: "#ede9fe ";
  --mediumPink: "#a78bfa";
}
body{
  font-family: "Inter", serif;
  @apply text-neutral-100 bg-deepPink
}
.roboto{
  font-family: "Roboto Condensed", serif;
}
.inter{
  font-family: "Inter", serif;
}
.text-small{
  @apply text-sm text-neutral-500
}
.default-btn{
  @apply  active:scale-95
}

.nav-btn-shadow{
  box-shadow: 1px 1px 10px 10px #ddd6fe18;
}
.nav-top-shadow{
  box-shadow:  0px -1px 8px 1px #100618;
}

.side-view-container::-webkit-scrollbar {
  width: 6px;
}




/* Track */
.side-view-container::-webkit-scrollbar-track {
  background: var(--deepPink);
}

/* Handle */
.side-view-container::-webkit-scrollbar-thumb {
  background: #655274;
  border-radius: 2px;
}

/* Handle on hover */
.side-view-container::-webkit-scrollbar-thumb:hover {
  background: #9177a6;
}






.myProfile-des::-webkit-scrollbar {
  width: 8px;
}

.myProfile-des::-webkit-scrollbar-track {
  background: var(--deepPink);
}

.myProfile-des::-webkit-scrollbar-thumb {
  background: #655274;
  border-radius: 2px;
}

.myProfile-des::-webkit-scrollbar-thumb:hover {
  background: #9177a6;
}

